@font-face {
    font-family: ArchieveRegular;
    
    src: url("../assets/fonts/font.otf");
}


html, body {
    height:100%;
    margin: 0px 0px 0px 0px;
    background-color: #10a1dc;
}

.homepage-card-title{
    text-align: center;
    padding-top: 32px;
}

.custom-footer{
    background: white;
    position: absolute;
    bottom: 0px;
}


.footer-title{
    margin:0px;
    padding: 4px;
}

.divider{
    margin:0px;
}

.card:hover{
    transform: scale(0.9);
}

.card{
    transition: all 0.5s ease;
}

.pull-left{
    float: left;
}

.home:hover{
    transform: scale(0.9);
}

.home{
    position: absolute;
    top: 8px;
    left: 20px;
    color: black;
    transition: all 0.5s ease;
}

h1, h3{

}

<<<<<<< HEAD
.title1 {
    font-family: ArchieveRegular;
    color: white;
}
=======
object{

    position: absolute;
    top: 80px;
    left: 40px;
}

>>>>>>> 1e491b9588c14f6f3fc31f4b4523bf2b9b46345a
